body{
  margin: 0;
}

.App{
  height: 100vh;
  font-family: 'Hind Madurai', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #faf5f5;
}

.App > div > div:first-of-type {
  margin-bottom: 20px;
}
.login form h5{
  margin: 0;
  margin-bottom: 35px;
  color: gray;
}

.App-header {
  background-color: #598989;
  overflow: visible;
  width: 100%;
  text-align: center;
  color: white;
}

.App-header h1{
  margin: 10px 0;
}


.Messages-list {
  padding: 10px 0;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  list-style: none;
  padding-left: 0;
  flex-grow: 1;
  overflow: auto;
  max-height: 75vh; 
} 

.Messages-message {
  display: flex;
  margin-top: 10px;
  flex-direction: row-reverse;
  text-align: right;
}

.Messages-message.otherMember {
  justify-content: start;
  flex-direction: row;
  text-align: left;
}

.Message-content {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.otherMember > .Message-content {
  align-items: flex-start;
  justify-content: start;
}

.Messages-message > .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 10px -10px;
}

.Message-content > .username {
  display: block;
  color: rgb(60, 55, 55);
  font-weight: 600;
  font-size: 16px;
  line-height: 26px; 
}

.Message-content > .text {
  padding: 10px 20px;
  max-width: 800px;
  margin: 0;
  border-radius: 16px 0px 16px 16px;
  background-color: #598989;
  color: white;
  display: inline-block;
}

.Message-content > .timestamp {
  font-size: 11px;
  line-height: 13px;
  margin-bottom: 5px;
}

.otherMember > .Message-content .text {
  border-radius: 0px 16px 16px 16px;
  background-color: #cfba92;
  color: #211e1e
}

.currentMember > .Message-content .text{
  width:fit-content;
  align-self: flex-end;
}

form {
  display: flex;
  width: 100%;
  justify-content: space-between;
  max-width: 900px;
  margin: 0 auto 40px;
}

input {
  padding: 12px;
  font-size: 16px;
  border: 1px solid #E8E8E8;
  border-radius: 24px;
  flex-grow: 1;
  font-size: 14px;
  line-height: 22px;
  color: black;
}

input::placeholder{
  color: #C7C3C3;
}

.inputButton {
  padding: 5px 10px;
  font-size: 16px;
  background-color: #598989;
  color: white;
  border: none;
  width: 20px;
  height: 20px;
  margin-left: 10px;
  background: url('./Components/Assets/sendArrow.png') no-repeat;
  align-self: center;
}

.login {
  margin: 5rem auto 3rem auto;
  padding: 1rem;
  background-color: #faf5f5;
  width: 540; 
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 70px 0;
}

.login form {
  display: flex;
  flex-flow: column wrap;
  align-items: center; 
  margin-top: 10px;
}

.login label {
  font-weight: bold;
  margin-bottom: 1rem;
  color:#598989;
}

.login svg {
  margin-bottom: 1rem;
}

.login .inputText {
  font: inherit;
  text-align: center;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.login label:first-of-type{
  margin-top: 20px;
}

.login h1{
  color:#598989;
  margin: 0;
  font-size: 46px;
  margin-bottom: 40px;
}

.login .inputText:focus {
  outline: none;
  border-color: #2a6972d8;
}


.invalid .inputText {
  border-color: #430db7bd;
}

@media screen and (max-width: 600px) {
  .login {
    margin: 1rem auto 2rem auto;
    width: 90%;
  }
}

.avatar {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-bottom: 0.5rem;
  height: 8rem;
}

.avatar img {
  height: 100px;
  width: 100px;
  margin-bottom: 0.5rem;
  cursor: pointer;
  -webkit-filter: drop-shadow(0px 2px 8px var(--shadow));
}
.avatar div {
  font-size: 0.7rem;
  color: var(--text);
}

.card {
  border-radius: 12px;
  box-shadow: 0 2px 8px var(--shadow);
  justify-self: center;
}

@media screen and (max-width: 600px) {
  .card {
    border-radius: 0;
    box-shadow: none;
    width: 90%;
  }
  .avatars{
    width: 90%;

  }
}

button {
  padding: auto;
  outline: none;
  height: 80px;
  text-align: center;
  width: 80px;
  border-radius: 50%;
  background-color: #689E9E;
  border: 1px solid #598989;
  color: white;
  letter-spacing: 1px;
  text-shadow: 0;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.25s ease;
}

button:hover {
  color: var(--text-light);
  background: var(--main);
}
button:active {
  letter-spacing: 2px;
}

button:disabled,
button:focus:disabled,
button:hover:disabled,
button:active:disabled {
  border-color: var(--border);
  color: var(--text);
  background: inherit;
  cursor: not-allowed;
  opacity: 0.3;
}

.inputColor{
  padding: 0;
  margin-bottom: 5px;
  margin-top: 5px;
  border: 0;
  border-radius: 0;
}
.login label{
  margin: 0px;
  font-size: 22px;
}

.avatars {
  margin-top: 0px;
  margin-bottom: 20px;
  display: flex;
}

.item {
  cursor: pointer;
  padding: 25px;
  transition: 0.3s box-shadow;
  border-radius: 138px;
}

.item:last-child {
  margin-right: 0;
}

.item.active {
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.16);
}

.item:hover{
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.16);
}

/*
.picker-container {
  position: relative;
  width: 10px;
}
.emoji-icon {
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 5px;
}
.input-style {
  padding: 7px 30px 7px 10px;
  width: calc(100% - 40px);
  border-radius: 3px;
  border: 1px solid #999;
  margin-bottom: 10px;
} 
*/